@page
@model AlbunsModel
@{
    ViewData["Title"] = "Albuns";
}

<div class="mb-4">
    <table id="posts-table" class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Album in Model.Albuns)
            {
                <tr>
                    <th scope="row">@Album.Id</th>
                    <td>@Album.Titulo</td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#posts-table').DataTable({
                "language": {
                    "emptyTable": "Não há dados disponíveis",
                    "info": "Exibindo _START_ de _END_ de _TOTAL_ resultados",
                    "lengthMenu": "Exibir _MENU_ resultados",
                    "search": "Procurar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ative para ordenar a coluna de forma ascendente",
                        "sortDescending": ": ative para ordenar a coluna de forma descendente"
                    },
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "infoEmpty": "Exibindo 0 de 0 de 0 resultados",
                    "zeroRecords": "Sem resultados para essa busca",
                    "infoFiltered": "(filtrado de _MAX_ entradas totais)",
                }
            });
        });
    </script>
}
