@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-5 font-weight-bold">Bem-vindo ao meu teste da Framework</h1>
    <p class="py-5">É com muito entusiasmo que lhe apresento esse pequeno projeto referente ao meu primeiro desafio para concorrer a uma oportunidade de estágio na minha área.</p>
    <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/Posts">Postagens</a>
            </li>
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/Albuns">Albuns</a>
            </li>
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/To-dos">TO-DOs</a>
            </li>
     </ul>    
</div>



