@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-5 font-weight-bold">Teste Padawan Framework</h1>
    <p class="py-5">Este site tem o intuito de apresentar a fase do desafio técnico de Padawans Framework 2021<br>Espero que gostem!</p>
    <ul class="list-group list-group-horizontal">
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/Posts">Postagens</a>
            </li>
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/Albuns">Albuns</a>
            </li>
            <li class="list-group-item flex-fill">
                <a class="text-dark" asp-area="" asp-page="/ToDos">TO-DOs</a>
            </li>
     </ul>    
</div>



